<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 * 후기 mapper.xml
 * @author 손승완
 * @since 2024.07.30
 * @version 1.0
 *
 * <pre>
 * 수정일        	수정자        수정내용
 * ==========  =========    =========
 * 2024.07.30  	손승완        최초 생성
 * 2024.08.05   손승완        후기 등록 쿼리 프로시저로 변환
 *
 * </pre>
 -->
<mapper namespace="com.otclub.humate.domain.review.mapper.ReviewMapper">
    <!-- 후기 등록 및 멤버 매너 온도 변경 -->
    <select id="insertReviewAndUpdateManner"
            statementType="CALLABLE"
            parameterType="com.otclub.humate.common.entity.Review">
        {
            call insertReviewAndUpdateMannerProc(
                #{companionId, mode=IN, jdbcType=INTEGER},
                #{reviewerId, mode=IN, jdbcType=VARCHAR},
                #{revieweeId, mode=IN, jdbcType=VARCHAR},
                #{content, mode=IN, jdbcType=VARCHAR},
                #{score, mode=IN, jdbcType=DOUBLE},
                #{status, mode=OUT, jdbcType=VARCHAR}
            )
        }
    </select>
</mapper>