<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.otclub.humate.domain.activity.mapper.ActivityMapper">
    <select id="selectCompanionActivityHistoryList"
            resultType="com.otclub.humate.domain.activity.dto.ClearedMissionDTO">

        select
            c.companion_activity_id,
            a.title_ko,
            a.title_en,
            c.status,
            min(i.img_url)
        from
            companion_activity_history c
                 left join activity a on a.activity_id = c.activity_id
                 left join companion_activity_img i on c.companion_activity_id = i.companion_activity_id
        where
            c.companion_id = #{companionId}
        group by
            c.companion_activity_id, a.title_ko, a.title_en, c.status
        order by
            c.status
    </select>

    <select id="selectActivityList" resultType="com.otclub.humate.common.entity.Activity">
        select
            *
        from
            activity
    </select>

    <select id="selectActivityById" resultType="com.otclub.humate.domain.activity.dto.NewMissionDTO">
        select
            activity_id,
            title_ko,
            title_en,
            content_ko,
            content_en,
            point,
            img_url
        from
            activity
        where
            activity_id = #{activityId}
    </select>

    <resultMap id="companionActivityHistoryDetails"
               type="com.otclub.humate.domain.activity.dto.CompanionActivityHistoryDetailsResponseDTO">
        <result property="activityTitleKo" column="activity_title_ko"/>
        <result property="activityTitleEn" column="activity_title_en"/>
        <result property="createdAt" column="created_at"/>
        <collection property="imgUrls" javaType="java.util.ArrayList" ofType="string"
                    column="companion_activity_id" select="selectImgUrlListById"/>
    </resultMap>

    <select id="selectCompanionActivityHistoryById"
            resultMap="companionActivityHistoryDetails">
        select
            a.title_ko activity_title_ko,
            a.title_en activity_title_en,
            ca.created_at,
            companion_activity_id
        from
            companion_activity_history ca
        join
            companion c
        on
            ca.companion_id = c.companion_id
        join
            activity a
        on
            ca.activity_id = a.activity_id
        where
            ca.companion_activity_id = #{companionActivityId}
          and (c.first_member_id = #{memberId} or c.second_member_id = #{memberId})
    </select>

    <select id="selectImgUrlListById" resultType="string">
        select img_url
        from companion_activity_img
        where companion_activity_id = #{companionActivityId}
    </select>

    <select id="validateInsertCompanionActivity" resultType="java.lang.Integer">
        SELECT CASE
                   WHEN EXISTS(SELECT 1
                               FROM companion c
                               WHERE c.companion_id = #{companionId}
                                 AND c.finished_at IS NOT NULL) THEN 1
                   WHEN EXISTS(SELECT 1
                               FROM companion_activity_history ca
                                        JOIN companion c ON ca.companion_id = c.companion_id
                               WHERE c.companion_id = #{companionId}
                                 AND ca.activity_id = #{activityId}) THEN
                       1
                   ELSE 0 END AS validate_companion
        from dual
    </select>

    <insert id="insertCompanionActivityHistory" parameterType="com.otclub.humate.common.entity.CompanionActivityHistory"
            useGeneratedKeys="true" keyProperty="companionActivityId">
        <selectKey keyProperty="companionActivityId" resultType="int" order="BEFORE">
            SELECT seq_companion_activity.nextval FROM dual
        </selectKey>

        <![CDATA[
            insert into companion_activity_history (companion_activity_id, companion_id, activity_id, status)
            values (#{companionActivityId}, #{companionId}, #{activityId}, #{status})
        ]]>
    </insert>

    <insert id="insertCompanionActivityImgList" parameterType="java.util.List">
        insert into companion_activity_img(companion_activity_img_id, companion_activity_id, img_url)
            select seq_companion_activity_img.nextval, A.* from (
                <foreach collection="list" index="index" item="item" separator="UNION ALL">
                    select #{item.companionActivityId}, #{item.imgUrl}
                    from dual
                </foreach>
            ) A
    </insert>
</mapper>