<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otclub.humate.domain.mate.mapper.PostMapper">
    <!-- 매칭글 목록 전체 조회 -->
    <select id="selectAllPosts" resultType="com.otclub.humate.domain.mate.dto.PostListResponseDTO">
        <![CDATA[
            select
                p.post_id,
                m.nickname,
                m.profile_img_url,
                t.tag_name,
                p.title,
                p.match_date,
                p.match_branch,
                p.match_gender,
                p.match_language,
                p.created_at,
                p.is_matched
            from
                post p
                join member m on p.member_id = m.member_id
                left join (
                    select
                        pt.post_id,
                        listagg(t.name, ',') within group (order by t.name) as tag_name
                    from
                        post_tag pt
                        join tag t on pt.tag_id = t.tag_id
                    group by
                        pt.post_id
                ) t on p.post_id = t.post_id
        ]]>
    </select>

    <!-- 매칭글 등록 -->
    <insert id="insertPost" parameterType="com.otclub.humate.common.entity.PostEntity"
            useGeneratedKeys="true" keyProperty="postId">
        <selectKey keyProperty="postId" resultType="java.lang.Integer" order="BEFORE">
            select seq_post.nextval from dual
        </selectKey>
        <![CDATA[
            insert into post (
                post_id, member_id, title, content,
                match_date, match_branch, match_gender, match_language,
                created_at, deleted_at, is_matched
            )
            values (
                #{postId}, #{memberId}, #{title}, #{content},
                #{matchDate, jdbcType=VARCHAR}, #{matchBranch, jdbcType=VARCHAR}, #{matchGender}, #{matchLanguage, jdbcType=VARCHAR},
                SYSDATE, NULL, 0
            )
        ]]>
    </insert>

    <!-- 장소(매장 및 팝업스토어) 등록 -->
    <insert id="insertPostPlace" parameterType="com.otclub.humate.common.entity.PostPlaceEntity">
        <![CDATA[
            insert into post_place (post_place_id, post_id, type, name)
            values (seq_post_place.nextval, #{postId}, #{type}, #{name})
        ]]>
    </insert>

    <!-- 매칭글 태그 등록 -->
    <insert id="insertPostTag" parameterType="com.otclub.humate.common.entity.PostTagEntity">
        <![CDATA[
            insert into post_tag (post_tag_id, post_id, tag_id)
            values (seq_post_tag.nextval, #{postId}, #{tagId})
        ]]>
    </insert>
</mapper>