<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 * 회원 도메인 Mybatis 매퍼
 * @author 조영욱
 * @since 2024.07.30
 * @version 1.0
 *
 * <pre>
 * 수정일        	수정자        수정내용
 * ==========  =========    =========
 * 2024.07.30  	조영욱        최초 생성
 * 2024.08.04   조영욱        마이페이지 메소드 추가
 * </pre>
 -->
<mapper namespace="com.otclub.humate.domain.member.mapper.MemberMapper">

    <!-- 회원 추가 -->
    <insert id="insertMember">
        insert into member (
            member_id,
            nationality,
            login_id,
            password,
            gender,
            birthdate,
            nickname,
            introduction,
            profile_img_url,
            language,
            phone,
            passport_no
        )
        values (
            <choose>
                <when test="nationality == 1">
                    'K_'||seq_member_korean.NEXTVAL,
                </when>
                <otherwise>
                    'F_'||seq_member_foreigner.NEXTVAL,
                </otherwise>
            </choose>
            #{nationality},
            #{loginId},
            #{password},
            #{gender},
            #{birthdate},
            #{nickname},
            #{introduction},
            #{profileImgUrl},
            #{language},
            #{phone},
            #{passportNo}
        )
    </insert>

    <!-- 로그인 아이디로 회원 검색 -->
    <select id="selectMemberByLoginId">
        select
            member_id,
            password,
            is_admin
        from
            member
        where
            login_id=#{loginId} and
            deleted_at is null
    </select>

    <!-- 닉네임으로 회원 검색 -->
    <select id="selectMemberByNickname">
        select
            member_id
        from
            member
        where
            nickname=#{nickname} and
            deleted_at is null
    </select>

    <!-- 리프레시 토큰 업데이트 -->
    <update id="updateRefreshToken">
        update
            member
        set
            refresh_token = #{refreshToken}
        where
            member_id = #{memberId} and
            deleted_at is null
    </update>

    <!-- 회원 아이디로 회원 검색 -->
    <select id="selectMemberById">
        select
            member_id,
            refresh_token,
            is_admin,
            profile_img_url,
            introduction
        from
            member
        where
            member_id=#{memberId} and
            deleted_at is null
    </select>

    <!-- 휴대전화 번호로 회원 검색 -->
    <select id="selectMemberByPhone">
        select
            member_id
        from
            member
        where
            phone=#{phone} and
            deleted_at is null
    </select>

    <!-- 회원 디테일 조회 -->
    <select id="selectMemberDetail" resultType="com.otclub.humate.common.entity.Member">
        select
            member_id,
            nickname,
            manner,
            introduction,
            profile_img_url,
            gender,
            birthdate
        from
            member
        where
            member_id=#{memberId} and
            deleted_at is null
    </select>

    <!-- 회원 수정 -->
    <update id="updateMember">
        update
            member
        set
            <if test="nickname!=null">
                nickname = #{nickname},
            </if>
            introduction = #{introduction},
            profile_img_url = #{profileImgUrl}
        where
            member_id = #{memberId} and
            deleted_at is null
    </update>

    <!-- 회원 아이디로 메이트 리스트 검색 -->
    <select id="selectMatesByMemberId">
        select
            m2.member_id as member_id,
            m2.profile_img_url as profile_img_url,
            m2.nickname as nickname,
            m2.gender as gender,
            min(c.CREATED_AT) as matching_date
        from member m
             inner join companion c
                on m.member_id = c.first_member_id or
                   m.member_id = c.second_member_id
             inner join member m2
                on (m.member_id = c.first_member_id and c.second_member_id = m2.member_id) or
                   (m.member_id = c.second_member_id and c.first_member_id = m2.member_id)
        where m.member_id=#{memberId}
        group by
            m2.member_id,
            m2.profile_img_url,
            m2.nickname,
            m2.gender
        order by matching_date desc
    </select>
</mapper>