<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.otclub.humate.domain.companion.mapper.CompanionMapper">
    <update id="updateCompanionStatusById">
        update companion
        set finished_at = sysdate
        where companion_id = #{companionId} and finished_at is null
    </update>
    <select id="selectCompanionAndPost" resultType="com.otclub.humate.domain.companion.dto.CompanionPostDTO">
        select
            c.companion_id,
            r.post_title,
            r.match_branch,
            r.match_date,
            f.member_id first_member_id,
            f.nickname first_member_nickname,
            s.member_id second_member_id,
            s.nickname second_member_nickname
        from companion c
            join chat_room r
                on c.chat_room_id = r.chat_room_id
            join member f
                on c.first_member_id = f.member_id
            join member s
                on c.second_member_id = s.member_id
        where c.companion_id = #{companionId}
            and (f.MEMBER_ID = #{memberId} or s.member_id = #{memberId})
    </select>

    <select id="selectCompanionByIds" resultType="com.otclub.humate.common.entity.Companion">
        select
            c.companion_id,
            c.first_member_id,
            c.second_member_id
        from companion c
            left join review r
                on c.companion_id = r.companion_id
        where c.companion_id = #{companionId}
            and (c.first_member_id = #{memberId} OR c.second_member_id = #{memberId})
            and c.finished_at is not null
            and (r.reviewer_id is null or r.reviewer_id != #{memberId})
    </select>

    <select id="selectCompanionListByMemberId"
            resultType="com.otclub.humate.domain.companion.dto.CompanionDetailsDTO">
        select
            c.companion_id,
            c.finished_at,
            fm.member_id first_member_id,
            fm.profile_img_url first_member_profile_img_url,
            fm.nickname first_member_nickname,
            sm.member_id second_member_id,
            sm.profile_img_url second_member_profile_img_url,
            sm.nickname second_member_nickname,
            cr.post_title,
            cr.match_date,
            cr.match_branch
        from companion c
                 join member fm
                      on c.first_member_id = fm.member_id
                 join member sm
                      on c.second_member_id = sm.member_id
                 join chat_room cr
                      on c.chat_room_id = cr.chat_room_id
        where (c.first_member_id = #{memberId} or c.second_member_id = #{memberId})
        order by c.finished_at desc
    </select>

    <select id="selectPostTitleById" resultType="com.otclub.humate.domain.activity.dto.CompanionInfoDTO">
        select
            r.post_title,
           NVL2(c.FINISHED_AT, 1, 0) is_finished
        from companion c
             join chat_room r
                on c.chat_room_id = r.chat_room_id
        where c.companion_id = #{companionId}
    </select>

    <select id="countCompanionByMemberIdAndCompanionId" resultType="int">
        select
            count(companion_id)
        from
            companion
        where
            companion_id = #{companionId}
            and (first_member_id = #{memberId} or second_member_id = #{memberId})
    </select>
</mapper>