<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otclub.humate.domain.chat.mapper.ChatRoomMapper">

    <insert id="insertChatRoom" parameterType="com.otclub.humate.common.entity.ChatRoom" useGeneratedKeys="true" keyProperty="chatRoomId">
        <selectKey keyProperty="chatRoomId" resultType="int" order="BEFORE">
            SELECT seq_chat_room.nextval FROM dual
        </selectKey>
        <![CDATA[
            insert into chat_room (chat_room_id, post_id)
            values (#{chatRoomId}, #{postId})
        ]]>
    </insert>

    <insert id="insertChatParticipant" parameterType="com.otclub.humate.common.entity.ChatParticipate">
        <![CDATA[
            insert into chat_participate (participate_id, member_id, chat_room_id)
            values (seq_chat_participate.nextval, #{memberId}, #{chatRoomId})
        ]]>
    </insert>

    <select id="selectChatParticipantByChatRoomIdAndMemberId" resultType="com.otclub.humate.common.entity.ChatParticipate">
        select
            participate_id,
            member_id,
            chat_room_id,
            is_clicked
        from
            chat_participate
        where
            chat_room_id=#{chatRoomId} and
            member_id=#{memberId} and
            deleted_at is null
    </select>

</mapper>